@use "@/styles/var.scss";

.loading {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var.$colorPrimary;
  pointer-events: none;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loadingRotate 2s linear infinite;

  svg {
    width: 20px;
    height: 20px;
  }
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}
